.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-color: #fefaf5;
  flex-direction: row;
  padding-left: 100px;
}
.hero_img {
  width: 50rem;
  height: 50rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.hero_txt {
  width: 80rem;
  color: #335576;
  margin-right: 30rem;
  margin-top: 5rem;
  margin-left: 5rem;
}
.hero_txt p {
  margin-bottom: 2rem;
  font-size: 1.34rem;
}
.hero_txt h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.hero_txt a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 45px;
  padding: 14px 50px;
  background-color: #db7a4e;
}
.hero_txt a:hover {
  letter-spacing: 3px;
}
.tours {
  width: 100%;
  height: 50rem;
  display: block;
}
.tours h1 {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 2rem;
  color: #335576;
}
.places {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  padding: 5rem;
}
.card {
  width: 23rem;
  height: 40rem;
  border-radius: 5px;
  margin-right: 3rem;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgb(0 0 0 /40%);
}
.hawaii {
  background-image: url(../Assets/Images/hawaii.jpg);
  background-position: center;
  background-size: cover;
}
.hawaii h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 36rem;
  margin-left: 14rem;
  text-decoration: none;
}
.iceland {
  background-image: url(../Assets/Images/iceland.jpg);
  background-position: center;
  background-size: cover;
}
.iceland h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 36rem;
  margin-left: 13rem;
  text-decoration: none;
}
.greece {
  background-image: url(../Assets/Images/greece.jpg);
  background-position: center;
  background-size: cover;
}
.greece h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 36rem;
  margin-left: 13rem;
  text-decoration: none;
}
